
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

@font-face{
    font-family: 'pacfont';
    src: url(../fonts/pacfont.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    margin: 0 auto;
    padding: 5px auto;
}

.nav{
    padding-top: 2%;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);


}

.sub-nav{
    margin-top: 2%;;
    background: #4398f8c7;
}

.nav-width{
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    justify-content: space-around;
}

.under-nav{
    border-bottom: 2px solid #07e2ff;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);
}

.reset,
.life,
.bonus-points{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #e0bb6f;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.reset{
    background: none;
    border: none;
    
}

.reset:hover{
    cursor: pointer;
    color: #ddd;
}

.level,
.steps,
.time, 
.score,
.star{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    color: #07e2ff;
}

.steps-num,
.stop-watch,
.score-num,
.level-num{
    color: #fff;
}

.game-name{
    font-family: 'pacfont';
    font-size: 2.5em;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);

}


/* STYLE TO GRID */
.game{
    max-width: 95%;
    margin: 4% auto;
    position: absolute;
    left: 50%;
    margin-left: -240px;
}

.grid{
    position: relative;
}

.all-blocks{
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px dotted #ddd;
}

.walls,
.goals{
    width: 32px;
    height: 32px;
}

.goals{
    border: 1px solid #e0c07e;
}

.boxes{
    background: url("../img/box.jpg");
}

.walls{
    background: url("../img/bricks.jpg");
}

.avatar,
.boxes{
    width: 32px;
    height: 32px;
    position: absolute;  
    z-index: +1; 
}

.avatar{
    font-size: 32px;
    color: rgb(118, 13, 216);
}

/* FINAL COMPONENT */
.final{
    max-width: 95%;
    margin: 10% auto;
    position: absolute;
    left: 50%;
    margin-left: -240px;
}


/* MODAL STYLE */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 470px;
    text-align: center;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }