@font-face{
    font-family: 'pacfont';
    src: url(../fonts/pacfont.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    max-width: 410px;
    border: 2px solid #ddd;
    margin: 5vw auto;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    font-family: sans-serif;
    padding-bottom: 10px;
}

.nav> .label, .score{
    padding: 4px 5px;
    font-size: 19px;
    border: 1px solid #ddd;
    color: #0abde3;
}

.game-name{
    font-family: 'pacfont';
    font-size: 2em;
    color: #d3a13b;
}

.board{
    margin: 15px auto;
}


/* GRID STYLE */
#grid{
    width: 386px;
    height: 386px;
    border: 1px solid #d3a13b;
    margin: 0 auto;
    position: relative;
}

/* STYLE TO GRID */
.grid{
    margin: 0 auto;
    position: relative;
    top: 1vh;
    left: 1%;
}

.blocks-container{
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px solid #ddd;
}

.wall{
    width: 32px;
    height: 32px;
}

.block{
    width: 32px;
    height: 32px;
    border: 1px dotted #ddd;
}

.avatar,
.boxes,
.goals{
    width: 32px;
    height: 32px;
    position: absolute;  
    z-index: +1;  
}

.avatar{
    background-image: url(../img/avatar.jpg);
}

.boxes{
    background: #d3a13b;
    border: 1px solid #ddd;
}